boto3>=1.28.43
Brotli>=1.1.0
click>=8.1.7
PyMuPDF>=1.24.9,<1.25.0
loguru>=0.6.0
numpy>=1.21.6,<2.0.0
fast-langdetect>=0.2.3,<0.3.0
scikit-learn>=1.0.2
pdfminer.six==20231228
torch>=2.2.2,!=2.5.0,!=2.5.1,<=2.6.0
torchvision
matplotlib
ultralytics>=8.3.48
rapid-table>=1.0.3,<2.0.0
doclayout-yolo==0.0.2b1
ftfy
openai
pydantic>=2.7.2,<2.11
transformers>=4.49.0,<5.0.0
tqdm>=4.67.1