# Development dependencies for mineru
# These are optional dependencies for testing and development

# Testing dependencies
pytest
pytest-cov
coverage
beautifulsoup4
fuzzywuzzy

# Core VLM dependencies
transformers>=4.51.1
torch>=2.6.0
accelerate>=1.5.1
pydantic

# Pipeline dependencies
matplotlib>=3.10,<4
ultralytics>=8.3.48,<9
doclayout_yolo==0.0.4
dill>=0.3.8,<1
rapid_table>=1.0.5,<2.0.0
PyYAML>=6.0.2,<7
ftfy>=6.3.1,<7
openai>=1.70.0,<2
shapely>=2.0.7,<3
pyclipper>=1.3.0,<2
omegaconf>=2.3.0,<3
torchvision

# API dependencies
fastapi
python-multipart
uvicorn

# Gradio dependencies
gradio>=5.34,<6
gradio-pdf>=0.0.22