.md-nav__item {
    margin-left: 8px;
}

/* 文字两端对齐 */
.md-content__inner p {
    text-align: justify;
    text-justify: inter-ideograph;
}

.md-content__inner li {
    text-align: justify;
    text-justify: inter-ideograph;
}